.stf-add-adb-key-modal.stf-modal
  form(name='register', novalidate, ng-submit='mv.ok()')
    .modal-header
        button(type='button', ng-click='mv.cancel()').close &times;
        h4.modal-title
          i.fa.fa-user-plus
          .button-spacer
          span(translate) Add new user to STF

    .modal-body
      .alert.alert-danger(ng-show='error')
        span(ng-show='error.$invalid', translate) Check errors below
        span(ng-show='error.$incorrect', translate) Incorrect login details
        span(ng-show='error.$server', translate) Server error. Check log output.

      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-user
          input.form-control(ng-model='mv.user.name', name='username', required, type='username', placeholder='Username',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-register username', autofocus)
        .alert.alert-warning(ng-show='register.username.$dirty && register.username.$invalid')
          span(ng-show='register.username.$error.required', translate) Please enter your username

      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-envelope
          input.form-control(ng-model='mv.user.email', name='email', required, type='email', placeholder='E-mail',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-register email',
          ng-blur='mv.user.validateEmail()')
        .alert.alert-warning(ng-show='register.email.$dirty && !mv.user.isEmailValid')
          span Email already exists
        .alert.alert-warning(ng-show='register.email.$dirty && register.email.$invalid')
          span(ng-show='register.email.$error.email', translate) Please enter a valid email
          span(ng-show='register.email.$error.required', translate) Please enter your email

      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-key
          input.form-control(ng-model='mv.user.password', name='password', required, type='password', placeholder='Password',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='false')
        .alert.alert-warning(ng-show='register.password.$dirty && register.password.$invalid')
          span(translate) Please enter your password

      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-key
          input.form-control(ng-model='mv.user.password2', name='password2', required, type='password', placeholder='Password',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='false')
        .alert.alert-warning(ng-show='register.password2.$dirty && (register.password.$modelValue != register.password2.$modelValue)')
          span(translate) Passwords must be even

      .checkbox
        label
          input(type='checkbox', ng-click="mv.toggleUserAdminRole()" ng-checked="mv.user.isAdmin")
          | Admin

    .modal-footer
      button.btn.btn-primary-outline.btn-sm.pull-right(type='submit', ng-disabled="register.$invalid || !mv.user.isValid()")
        i.fa.fa-plus.fa-fw
        strong(translate) Add User

      button.btn.btn-default-outline.btn-sm.pull-right(ng-click='mv.cancel()')
        span(translate) Cancel
